<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="cDBServer" value="sql2k804.discountasp.net" />
    <add key="cDBCatalog" value="SQL2008R2_785987_tvauction" />
    <add key="cDBUsername" value="SQL2008R2_785987_tvauction_user" />
    <add key="cDBPassword" value="Awkshun2014" />
    <add key="cAAdminPass" value="admin" />
    <add key="cAAuctPass" value="auctioneer" />
    <add key="cSuperBlockMin" value="0" />
    <add key="cAuctDirectiveEnabled" value="True" />
    <add key="cAddEditDonorEnable" value="True" />
    <add key="cAddEditItemEnable" value="True" />
    <add key="cAddEditBidderEnable" value="True" />
    <add key="cAddEditBlockEnable" value="True" />
    <add key="cAssignItemBlockEnable" value="True" />
    <add key="cViewBidEnable" value="True" />
    <add key="cPlaceBidEnable" value="True" />
    <add key="cAddEditKiwanianEnable" value="True" />
    <add key="cReportsEnable" value="True" />
  </appSettings>
</configuration>