<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UServer" value="kiwanisauction01.db.6809554.hostedresource.com" />
    <add key="UCatalog" value="kiwanisauction01" />
    <add key="UName" value="kiwanisauction01" />
    <add key="UPass" value="Auction2011" />
  </appSettings>
</configuration>